.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 2.3fr 60px;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.'
    '.';
}

.page .topbar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. . .';
  padding: 0px 10px;
  border-bottom: 1px solid #c3c3c3;
}

.page .topbar div {
  display: flex;
  align-items: center;
}

.page .topbar div img {
  color: transparent; /*To hide the alt text*/
}

.page .topbar > :first-child {
  justify-content: flex-start;
}

.page .topbar > :nth-child(2) {
  justify-content: center;
}

.page .topbar > :last-child {
  justify-content: flex-end;
}

.page section {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: column;
}

.options div {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border: 1px solid #c3c3c3;
}

.options div:first-of-type {
  border-top: 0px;
}

.actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.actions button {
  color: blue;
  font-weight: bold;
  height: 60px;
  width: 100%;
  background: transparent;
  border: 1px solid #c3c3c3;
}

.actions button:last-of-type {
  color: red;
  border-top: 0px;
}
