.page {
  --item-height: 60px;
}

.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr calc(
      var(--bottom-bar-height) +
        env(safe-area-inset-bottom, var(--safe-area-inset))
    );
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.'
    '.';
}

.page .topbar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. . .';
  padding: 0px 10px;
  border-bottom: 1px solid #c3c3c3;
}

.page .topbar div {
  display: flex;
  align-items: center;
}

.page .topbar div img {
  color: transparent; /*To hide the alt text*/
}

.page .topbar > :first-child {
  justify-content: flex-start;
}

.page .topbar > :nth-child(2) {
  justify-content: center;
}

.page .topbar > :last-child {
  justify-content: flex-end;
}

.page section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.group {
  border: 1px solid #c4c4c4;
  margin: 20px 0px;
}

.row {
  height: var(--item-height);
}

.row.info {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row.info > div:first-of-type {
  font-weight: bold;
  font-size: 1rem;
}

.row.info > :last-child {
  color: #c4c4c4;
  font-size: 0.98rem;
}

.group > :not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
}

.logout {
  margin-top: auto;
  margin-bottom: 50px;
}

.password a,
.logout button {
  width: 100%;
  height: var(--item-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}

.logout button {
  color: var(--color-red);
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .page {
    grid-template-rows: 60px 1fr calc(
        var(--bottom-bar-height) + var(--safe-area-inset)
      );
  }
}
