.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr calc(
      var(--bottom-bar-height) +
        env(safe-area-inset-bottom, var(--safe-area-inset))
    );
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.'
    '.';
}

.page .topbar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. . .';
  padding: 0px 10px;
  border-bottom: 1px solid #c3c3c3;
}

.page .topbar div {
  display: flex;
  align-items: center;
}

.page .topbar div img {
  color: transparent; /*To hide the alt text*/
}

.page .topbar > :first-child {
  justify-content: flex-start;
}

.page .topbar > :nth-child(2) {
  justify-content: center;
}

.page .topbar > :last-child {
  justify-content: flex-end;
}

.page section {
  overflow: scroll;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 60px 1fr 100px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. . .';
  padding: 10px 10px;
  border-bottom: 1px solid #c3c3c3;
}

.item .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .image img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 4px;
  background: #c3c3c3;
  color: transparent;
}

.item .content {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #01184f;
}

.item .content h5 {
  margin: 0px;
}

.item .content h5 em {
  color: #c3c3c3;
  font-style: normal;
}

.item .actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

.item .actions button,
.page .topbar button {
  background: none;
  border: none;
  cursor: pointer;
}

.item .actions button svg {
  stroke: #c8dee5;
}

.page .topbar button svg {
  stroke: #012c63;
}

.group .item .actions button:hover svg {
  stroke: #06b0db;
}

.empty {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty small {
  font-weight: bold;
  color: rgb(200, 222, 229);
}

.empty .whale {
  width: 25vh;
  margin-bottom: 30px;
}

.empty .whale svg {
  overflow: visible;
}

.empty .whale svg path {
  fill: rgb(200, 222, 229);
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: translateY(-25px);
    fill: rgb(200, 222, 229, 1);
  }
  50% {
    transform: translateY(25px);
    fill: rgb(200, 222, 229, 0.5);
  }
  100% {
    transform: translateY(-25px);
    fill: rgb(200, 222, 229, 1);
  }
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .page {
    grid-template-rows: 60px 1fr calc(
        var(--bottom-bar-height) + var(--safe-area-inset)
      );
  }
}
