.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.page form button {
  cursor: pointer;
}

.page form button:disabled {
  cursor: not-allowed;
}

.logo {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 16px;
  background: #3d3d3d;
}

.page h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: #979797;
  font-weight: 400;
}

.page input {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  padding-left: 40px;
  transition: border ease-out 220ms;
}

.page input:focus {
  border: 2px solid #0360ae;
  outline: 0px;
}

.page input[type='password'] {
  margin-bottom: 10px;
}

.page small {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  font-weight: bold;
}

.page small a {
  color: #969696;
  text-decoration: none;
}

.page button {
  height: 60px;
  background: #0360ae;
  color: #fff;
  border: 0px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  transition: opacity ease-out 220ms;
}

.page button:disabled {
  opacity: 0.5;
}

.page p {
  color: #969696;
  margin: 20px auto;
}

.page p a {
  font-weight: bold;
  color: #0360ae;
  text-decoration: none;
}
