.layout-2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: var(--layout-top-height) 1fr;
  gap: 0px 0px;
  grid-template-areas:
    '.'
    '.';
}

form.component {
}

.topbar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: '. . .';
  padding: 0px 10px;
  border-bottom: 1px solid #c3c3c3;
}

.topbar div {
  display: flex;
  align-items: center;
}

.topbar div img {
  color: transparent; /*To hide the alt text*/
}

.topbar > :first-child {
  justify-content: flex-start;
}

.topbar > :nth-child(2) {
  justify-content: center;
}

.topbar > :last-child {
  justify-content: flex-end;
}

.actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.topbar button {
  color: #0360ae;
  font-weight: bold;
  height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.topbar button:disabled {
  color: #c8dee5;
  cursor: not-allowed;
}

.page section {
  height: calc(100% - var(--mobile-bottom-bar-height));
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page section input {
  height: 24px;
  padding: 4px;
}
.page section select {
  width: 180px;
}

.page section input,
.page section textarea {
  width: 170px;
}

.options {
  overflow-y: auto;
}

.options div {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #c3c3c3;
}

.options > div:last-of-type {
  margin-bottom: 30px;
}

.options div:first-of-type {
  border-top: 0px;
}

.options div.separator {
  height: 24px;
  padding: 0px;
  background: #fff;
  border: 0px;
  border-bottom: 1px solid #c3c3c3;
}
